<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401183940367-fknfn2ifd1r1tjbjdd83gotgaahr6hdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401183940367-fknfn2ifd1r1tjbjdd83gotgaahr6hdd</string>
	<key>API_KEY</key>
	<string>AIzaSyBNkn9q5QaCnpuFX9E7rKxU1fhtuMGKWQs</string>
	<key>GCM_SENDER_ID</key>
	<string>401183940367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.juba</string>
	<key>PROJECT_ID</key>
	<string>juba-f6799</string>
	<key>STORAGE_BUCKET</key>
	<string>juba-f6799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401183940367:ios:2fa9e4d79ebb53e6cc687a</string>
</dict>
</plist>